body {
	background: skyblue;
	margin: 0 5%;
}

.produit {
	margin: 5% 0;
	border: 1px solid red;
	border-radius: 10px;
	background: white;
	padding: 20px;
}

.clsimg {
	display: flex;
	justify-content: center;
	align-items: center;
}